/* src/styles/tailwind.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles can go here */
body {
  background-color: #121212;
  color: #fff;
  font: "Work Sans";
}

.list-styles {
  padding: 20px 0px;
  font-size: 3xl;
  & > p {
    text-align: left;
    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 1rem;
      border-radius: 50%;
      vertical-align: middle;
      background-image: linear-gradient(to bottom right, rgb(99 102 241), rgb(236 72 153));
    }
  }
}